@import url(variaveis.min.css);

$color: #1F2227;

.page-id-50{
    .page-content{
        background-color:#fff;
        width:100%;
        min-height:100vh;
        display:flex;
        justify-content:center;
        // align-items:center;
    
        *{
            padding:0px;
            margin:0px;
            box-sizing:border-box;
            font-family:'Poppins', sans-serif;
            perspective:800px;
        }

        .timeline{
            position:relative;
            width:100%;
            padding:20px;
            display:flex;
            justify-content:center;
            align-items:center;
            margin: 0 auto;
            &:before{
                content: '';
                position:absolute;
                left:50%;
                transform:translateX(-50%);
                width:2px;
                height:100%;
                background-color:#ccc;
            }
            ul{
                list-style-type:none;
                > li{
                    width:50%;
                    padding:5px 30px 40px 30px;
                    cursor:pointer;
                    &:nth-child(even){
                        float:right;
                        text-align:left;
                        clear:both;

                        &:before{
                            content:'';
                            position:absolute;
                            width:12px;
                            height:12px;
                            background-color:#ff8300;
                            border-radius:50%;
                            left:-6px;
                            top:12px;
                            transition:.5s;
                        }
                        .time{
                            position:absolute;
                            left:-30%;
                            top: 3px;
                            background-color:#ff8300;
                            color:#fff;
                            text-align:center;
                            width:120px;
                            height:28px;
                            line-height:28px;
                            border-radius:20px; 
                            box-shadow:0px 0px 0px 3px rgba(15,185,177,.3);
                        }
                        figure{ order: -1;}
                        .content{ order: 1;}
                    }
                    &:nth-child(odd){
                        float:left;
                        text-align:right;
                        clear:both;

                        &:before{
                            content:'';
                            position:absolute;
                            width:12px;
                            height:12px;
                            background-color:#ff8300;
                            border-radius:50%;
                            right:-6px;
                            top:12px;
                            transition:.5s;
                        }
                        .time{
                            position:absolute;
                            right:-30%;
                            top: 3px;
                            background-color:#ff8300;
                            color:#fff;
                            text-align:center;
                            width:120px;
                            height:28px;
                            line-height:28px;
                            border-radius:20px; 
                            box-shadow:0px 0px 0px 3px rgba(15,185,177,.3);
                        }
                        figure{ order: 1;}
                        .content{ order: -1;}
                    }
                    &:hover:before{
                        box-shadow:0px 0px 5px 2px #0fb9b1;
                    }
                    ol{
                        margin: 0;
                        padding: 0;
                        list-style: none;
                        li{
                            width: 100%;
                            margin-bottom: 50px;
                            display: flex;
                            flex-direction: row;
                            figure{
                                padding: 0 5px;
                                img{max-height: 80px; width: auto;}
                                figcaption{font-size: .6rem; color: #333;}
                            }
                            .content{            
                                h3{
                                    color:#009bbd;
                                    font-size:17px;
                                    font-weight: bold;
                                }
                                p{
                                    color:#222;
                                }
                                small a{font-size: .8rem; color: #fff; font-weight: bold;}
                            }
                        }
                    }
                }
            }
        }

        
        @media (max-width:750px){
            .timeline{
                width:100%;
                margin:5px 0px;
            }
            .timeline:before{
                left:20px;
            }
            .timeline ul li{
                width:100%;
                padding:3px 0px 40px 10px;
                cursor:pointer;
                li{
                    figure{ order: -1!important;}
                    .content{ order: 1!important;}
                }
            }
            .timeline ul li:nth-child(even):before{
                left:-6px;
            }
            .timeline ul li:nth-child(odd):before{
                left:-6px;
            }
            .timeline ul li:nth-child(even){
                float:left;
                text-align:left;
            }
            .timeline ul li:nth-child(odd){
                float:left;
                text-align:left;
            }
            .timeline ul li:nth-child(odd) .time{
                position:static;
                text-align:center;
                padding-left:5px;
                box-shadow:0px 0px 0px 0px ;
            }
            .timeline ul li:nth-child(even) .time{
                position:static;
                text-align:center;
                padding-left:5px;
                box-shadow:0px 0px 0px 0px ;
            }
        }
    
    }
    
    

}


body {
    

    &.page{
        main{
        background: var(--header-primary-bg);
        background: linear-gradient(180deg, rgba(0,155,189,1) 0%, rgba(0,212,255,1) 40%, rgba(255,255,255,1) 90%);
        padding-top: 50px;
            &.page-content{
                .container{
                    background-color: #fff;
                    .content-text{
                        padding: 50px;
                    }
                }
            }
        }
        
    }
}



