@import url(variaveis.min.css);

$color: #1F2227;

.single{
    main{
    background: var(--header-primary-bg);
    background: linear-gradient(180deg, rgba(0,155,189,1) 0%, rgba(0,212,255,1) 40%, rgba(255,255,255,1) 90%);
    padding-top: 50px;
    }
    &-content{
        .container{
            background-color: #fff;
            .content-text{
                padding: 50px;
            }
        }
    }
    .img-featured{
        width: 100%;
        margin-top: -50px;
        margin-left: -50px;
        border: 2px solid #fff;
        filter: drop-shadow(2px 4px 12px rgba(0,0,0, .4));
    }
    .post-title{
        text-transform: uppercase;
        border-left: 5px solid var(--card-title-border);
        padding-left: 10px;
    }
}